
body {
	margin: 0; padding: 0;
	display: flex;
	flex-direction: row;
}

/* areas */
.menu-area, .work-area {
	background: #eee;
	position: relative;
	height: 100vh;
}
.menu-area {
	flex: 0 0; z-index: 1;
	box-shadow: 2px 0 20px -10px black;
}
.work-area {
	flex: 1 1; z-index: 0;
	box-shadow: inset 0 0 10em #777;
}
.img-area {
	margin: 40px auto;
	position: relative;
	display: table;
}
.drop-area {
	border: 4px dashed gray;
	position: absolute;
	top: 40px; bottom: 40px;
	right: 40px; left: 40px;
	padding: 20px;
}
.text-area {
	margin: 3% auto 0 auto;
	position: relative;
	max-width: 90%;
}
#work_img {
	width: 100%;
	height: 100%;
}
#work_layer {
	background: white var(--svg-grid) repeat center / 20px;
	left: 0; top: 0;
	position: relative;
}
#canvas {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}


/* output preview */
.out-preview {
	background-color: black;
	text-align: center;
	position: relative;
	width: 285px;
	height: 168px;
}
.out-btn {
	position: absolute;
	bottom: 0; right: 0;
	color: white;
	border-top-left-radius: 5px;
}
.out-opts {
	position: absolute;
	padding-left: 0;
	list-style: outside none none;
	visibility: hidden;
	margin: 0; z-index: 1;
	background-color: rgba(0,0,0,.7);
	border-radius: 0 0 5px 5px;
	top: 100%; left: 0;
}
.out-item {
	padding: 5px 10px;
	font-variant-caps: small-caps;
}
.out-item:hover {
	background-color: rgba(0,0,0,.1);
}
.active > .out-opts {
	visibility: visible;
}
#out_save  { background-color: #089b08; padding: 4px 10px; }
#out_apply { background-color: #0089c9; padding: 5px 10px 0 10px; }

#out_save:before  { content: "✓"; }
#out_apply:before { content: "*"; }


/* font settings group */
input[name="text_align"]:checked + label[for] {
	outline: solid 1px #777;
	background-color: blanchedalmond;
}
.fnt-inp-group input:not(:checked) + label[for] {
	opacity: .3;
	text-decoration: line-through;
}
label[for="style_bold"]:before {
	content: 'Bold';
	cursor: pointer;
	font: bold 90% monospace;
}
label[for="style_italic"]:before {
	content: 'Italic';
	cursor: pointer;
	font: italic 90% monospace;
}
label[for="font_family"] {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
#font_family {
	border: none;
	width: 95px;
	background-color: transparent;
	outline: none;
}
#font_family:not(:focus) {
	text-overflow: ellipsis;
}
#font_family + .suw-list, .fnt-inp-group {
	background-color: floralwhite;
}
.fnt-fam, #font_family {
	font-size: 14px;
	color: #807062;
}
.tex-ali-lines {
	width: 12px;
	height: 12px;
	stroke: #6c6554;
	margin-left: 4px;
}
.fnt-inp-group {
	color: #807062;
	border: 2px dashed #aaa;
	padding: 0 5px;
	display: inline-block;
}
input[type="color"] {
	box-shadow: 1px 1px 2px #888;
	border: none;
	width: 30px; height: 23px;
	padding: 0;
}


/* settings panel elements */
#settings_panel {
	background-color: #eee;
	width: 285px;
}
.set-line {
	margin: 25px 5px;
}
.set-line > * {
	vertical-align: middle;
	margin-right: inherit;
}
.set-line *:not([contenteditable="true"]) {
	user-select: none;
}
.set-mode {
	width: 100%;
	margin: 25px 0;
}
.set-mode-col1 {
	padding: 10px;
	text-align: center;
}
.set-mode-col2 {
	padding: 10px 20px;
	border: 0 dashed #444;
	border-left-width: 1px;
	text-align: center;
}


/* mode radio buttons */
label[for="mode_demo"] {
	display: inline-block;
	border: 5px solid #444;
	padding: 10px 15px;
	border-bottom-width: 15px;
}
label[for="mode_macro"] {
	display: inline-block;
	border: 1px dotted #444;
	padding: 16px 18px;
	position: relative;
	text-align: center;
	font-size: 10px;
	color: #444;
}
label[for="mode_macro"]:before,
label[for="mode_macro"]:after {
	display: block;
	position: absolute;
	right: 0; left: 0;
}
label[for="mode_macro"]:before {
	content: "simple";
	top: 0;
}
label[for="mode_macro"]:after {
	content: "text";
	bottom: 0;
}
label[for="mode_text"] {
	font-size: 20px;
	background: #eee;
}
label[for="mode_text"]:before {
	content: "T";
	border: 1px solid #aaa;
	padding: 4px 12px;
	background: linear-gradient(to bottom, #ddd, #fff);
}
label[for="mode_text"]:hover:before {
	background: linear-gradient(to bottom, #e5e5e5, #fff);
}
label[for="mode_text"]:active:before {
	background: #cecece;
}


/* drop/select/load file */
#file_url {
	height: 34px;
	min-width: 200px;
	border-radius: 0 0 14px 0;
	border: 1px solid #aaa;
	position: absolute;
	box-sizing: content-box;
	cursor: text;
	overflow: hidden;
	font: 18px / 34px monospace;
	padding: 6px 12px;
	display: block;
	left: -4px;
	top: -4px;
	background-color: gray;
	color: white;
}
#file_url:empty:before {
	content: 'Image URL';
}
label[for="file_upload"] {
	-webkit-mask: var(--svg-drop) no-repeat center / 100px;
	/*moz*/ mask: var(--svg-drop) no-repeat center / 100px;
	background-color: gray;
	top: 5px; bottom: 5px;
	right: 5px; left: 5px;
	position: absolute;
	cursor: pointer;
}

/* over img buttons */
.over-btn {
	position: fixed;
	cursor: pointer;
	text-align: center;
	color: white;
	z-index: 1;
}
.clear-img {
	background-color: #d91111;
	font: bold 28px sans-serif;
	right: 0; top: 0;
	padding: 5px 16px;
}
.scale-img {
	display: flex;
	font: bold 20px monospace;
	right: 0; bottom: 0;
}
#scale_down, #scale_up {
	background-color: #1157d9;
	padding: 3px 10px;
}
#scale_val {
	background-color: white;
	color: #666;
	padding: 3px 10px;
}
.clear-img:before  { content: '✕'; }
#scale_down:before { content: '–'; }
#scale_val:after   { content: '%'; }
#scale_up:before   { content: '+'; }

:root {
	--svg-drop: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 75"><path d="M48 0v48h12L30 75 0 48h12V0Z"/></svg>');
	--svg-grid: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" fill="#636363" d="M0 0h10v10H0zm10 10h10v10H10z"/></svg>');
}

.work-area.active > .drop-area,
.work-area:not(.active) > .img-area,
.work-area:not(.active) > .ctrl-area,
.work-area:not(.active) > .text-area,
.hid-font > .set-font, .hid-font #font_size,
.hid-stroke > .set-stroke {
	display: none;
}
