
/* paragraph style */
[name="ka_parent"]:not(:only-child):after {
	content: ' ⤶';
	opacity: .5;
}
.ka-sen:empty:after {
	content: ' ';
}
.ka-pa:only-child > [nako-place]:empty:after {
	content: attr(nako-place);
	opacity: .5;
	display: block;
}
.ka-pa, .ka-txtarea {
	padding: 1px 4px;
}
.ka-hikon {
	overflow-y: auto;
	word-break: break-all;
	white-space: break-spaces;
}

/* cursor style */
.ka-cursor {
	border: 0 solid;
}
.ka-naidate {
	border: 0 dashed;
}
.ka-cursor:before, .ka-naidate:before {
	content: '\A';
}
.wink-ko {
	border-width: 0 1px 0 1px;
}
.ka-resize {
	cursor: se-resize;
	border-style: solid;
	border-width: 0 2px 2px 0;
	padding: 7px;
}

/* color dark */
.ko-shiki .ka-txtarea,
.ko-shiki .ka-hikon {
	background: #4e4e4e;
	color: #dedede;
}
.ko-shiki .ka-cursor {
	border-color: #ccc;
}
.ko-shiki .ka-naidate,
.ko-shiki .ka-resize {
	border-color: #aaa;
}
.ko-shiki .ka-pa:nth-child(even) {
	background-color: #444;
}
.ko-shiki .ka-pa:nth-child(odd) {
	background-color: transparent;
}
/* color light */
.ko-moko .ka-txtarea,
.ko-moko .ka-hikon {
	background-color: cornsilk;
	color: #755151;
}
.ko-moko .ka-cursor {
	border-color: #b87878;
}
.ko-moko .ka-pa + .ka-pa {
	border: 0 solid rgba(122, 101, 43, 0.1);
	border-top-width: 1px;
}
